<launch>
	<node name="moveint_kobo_node" type="moveint_kobo_node.py" pkg="moveint_ros" required="true" output="screen"/>
	<node pkg="rosbag" type="record" name="rosbag_record"
       args="record -o moveint_kobo /tf /panda_dual/joint_states /body_tracking_data /panda_dual/multi_mode_controller/desired_joint_position /visualization_marker_array /usb_cam/image_raw /visualization_marker_array_hands"/>   


</launch>
