<launch>
	<node name="rmdn_node" type="rmdvae_kobo_node.py" pkg="rmdn_hri_ros" required="true" output="screen"/>
	<node pkg="rosbag" type="record" name="rosbag_record"
       args="record -o combined /tf /panda_dual/joint_states /panda_dual/dual_arm_cartesian_impedance_controller/centering_frame_target_pose /visualization_marker_array /usb_cam_node/image_raw"/>   


</launch>
